<!DOCTYPE html>

<h2>Soon there will be a form here for adding new places to the map...</h2>



<form action="/data/send" method="post">
  <label for="POST-name"> Space Name:</label>
  <input id="POST-name" type="text" name="space">
  <label for="address">Address:</label>
  <input id="address" type="text" name="address">
  <label for="hours">Hours:</label>
  <input id="hours" type="text" name="hours">
  <label for="website">Website:</label>
  <input id="website" type="text" name="website">
  <input type="submit" value="Save">
</form>
