<!DOCTYPE html>

<h2>Soon there will be a form here for adding new places to the map...</h2>



<form action="/data/send" method="post">
  <label for="POST-name"> Space Name:<br></label>
  <input id="POST-name" type="text" name="space"><br>
  <label for="address">Address:<br></label>
  <input id="address" type="text" name="address"><br>
  <label for="hours">Hours:<br></label>
  <input id="hours" type="text" name="hours"><br>
  <label for="website">Website:<br></label>
  <input id="website" type="text" name="website"><br>
  <label for="tags">Area:<br></label>
      <input name="tags" type="radio" value="quad" checked> Quad<br>
      <input name="tags" type="radio" value="yard"> Square<br>
      <input name="tags" type="radio" value="allston"> Allston<br><br>
  <input type="submit" value="Save">
</form>
