/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
html {
  height: 100%;
}

#map {
  float: right;
  height: 100%;
  width: 75%;
}

#floating-panel {
  position: absolute;
  top: 100px;
  left: 60%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

body {
  height: 100%;
  margin: 0;
  background: #FFFFFF;
}

header {
  background-color: #8B0000;
  font-family: sans-serif;
  text-align: center;
}

.white {
  color: #FFFFFF;
}

.info {
    width: 23%;
    float: left;
    margin-left: 15px;
}
